{% set pageTitle = "Sorry, you cannot register a coronavirus test right now" %}
{% extends "layout_error_step.html" %}

{% block content %}

    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
      We cannot confirm this test kit registration is genuine.
    </p>

    <p class="govuk-body">
      If you still need to register your test you can use your NHS login or call 119 (free from mobiles and landlines).
    </p>

    <p class="govuk-body">
      Lines are open Monday to Friday 8am to 6pm, Saturday and Sunday 9am to 1pm.
    </p>


{% endblock %}
