{% set pageTitle = "Which one best describes your ethnic background?" %}
{% extends "layout_service_step.html" %}

{% block content %}
    <form action="../travel-work-education" class="form" method="post">
        {# https://design-system.service.gov.uk/components/radios/ #}
        {{ govukRadios({
            idPrefix: "ethnic-background",
            name: "ethnic-background",
            fieldset: {
                legend: {
                    text: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: "This will help us understand how coronavirus is affecting people of different ethnic backgrounds."
            },
            items: radioItems
        }) }}

  {% if data['ethnic-background'] === "another" %}
  {% set radioItems = [
      {
          value: "arab",
          text: "Arab"
      },
      {
          value: "another",
          text: "Another ethnic background"
      },
      {
          divider: "or"
      },
      {
          value: "not-say",
          text: "Prefer not to say"
      }]
  %}

  {% elif data['ethnic-background'] === "asian-british-asian" %}
  {% set radioItems = [
      {
          value: "bangladeshi",
          text: "Bangladeshi"
      },
      {
          value: "chinese",
          text: "Chinese"
      },
      {
          value: "indian",
          text: "Indian"
      },
      {
          value: "pakistani",
          text: "Pakistani"
      },
      {
          value: "another",
          text: "Another Asian background"
      },
      {
          divider: "or"
      },
      {
          value: "not-say",
          text: "Prefer not to say"
      }]
  %}


  {% elif data['ethnic-background'] === "black" %}
  {% set radioItems = [
      {
          value: "african",
          text: "African"
      },
      {
          value: "caribbean",
          text: "Caribbean"
      },
      {
          value: "another",
          text: "Another Black background"
      },
      {
          divider: "or"
      },
      {
          value: "not-say",
          text: "Prefer not to say"
      }]
  %}

  {% elif data['ethnic-background'] === "mixed" %}
  {% set radioItems = [
      {
          value: "asian-white",
          text: "Asian and White"
      },
      {
          value: "black-african-white",
          text: "Black African and White"
      },
      {
          value: "black-caribbean-white",
          text: "Black Caribbean and White"
      },
      {
          value: "another",
          text: "Another Mixed background"
      },
      {
          divider: "or"
      },
      {
          value: "not-say",
          text: "Prefer not to say"
      }]
  %}

  {% elif data['ethnic-background'] === "white" %}

    items: [
      {
        value: "british",
        text: "English, Welsh, Scottish, Northern Irish or British"
      },
      {
        value: "irish",
        text: "Irish"
      },
      {
        value: "gypsy-traveller",
        text: "Gypsy or Irish Traveller"
      },
      {
        value: "other",
        text: "Any other White background",
        conditional: {
          html: ethnicityHtml
        }
      },
      {
        divider: "or"
      },
      {
        value: "skip",
        text: "Prefer not to say"
      }
    ]
  }) }}

  {% endif %}

          {# https://design-system.service.gov.uk/components/button/ #}
          {{ govukButton({
              text: "Continue",
              classes: "govuk-!-margin-top-4",
              href: "/register-kit/symptoms"
          }) }}
      </form>
  {% endblock %}
