{% set pageTitle = "Registration Confirmed" %}
{% extends "layout_service_step.html" %}

{% block beforeContent %}
    {{ govukPhaseBanner({
        tag: {
            text: "Beta"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
{% endblock%}


{% block content %}

    {{ govukPanel({
        titleText: pageTitle,
        classes: "govuk-!-margin-bottom-8 govuk-!-padding-8"
    }) }}

    <h2 class="govuk-heading-m">Matt Test</h2>

    <p class="govuk-body">
        name@test.com <br>
        +447223344666  <br>
        Test kit barcode reference: CHE01010101<br>
        Test date: 09 December 2022<br>
        Test time: 2pm
    </p>
    <hr>

    <h2 class="govuk-heading-m">Next Steps</h2>

    <ul class="govuk-list govuk-list--bullet">
        <li>
          if you've registered multiple test kits, it's important each person takes the test registered to them. This will make sure they receive the correct results. Use the table in your paper instructions to help with this.
        </li>
        <li>
          you can follow this <a href="https://www.gov.uk/government/publications/testing-for-coronavirus-at-home/covid-19-home-test-step-by-step-guide-adults-and-children" target="_blank" alt="COVID-19 PCR home test: step-by-step guide" class="govuk-link">COVID-19 PCR home test: step-by-step guide</a>
        </li>
    </ul>

    <h2 class="govuk-heading-m">Help us improve our services</h2>

    <p class="govuk-body">
        <a href="https://feedback.digital.nhs.uk/jfe/form/SV_07DhOuOKeAwsgYu?r=v01form" class="govuk-link">Fill in our short survey</a> (takes 3 minutes)
    </p>


{% endblock %}
