{% set pageTitle = "Enter the Royal Mail barcode" %}
{% extends "layout_service_step.html" %}


{% set barcodeImg %}
    <img src="/public/images/example-barcode.png" alt="Example of barcode - CHE00000501" class="max-width-100">
{% endset %}

{% block content %}

<h1 class="govuk-heading-l">
    {{ pageTitle }}
</h1>

<p class="govuk-body">
    Use the camera on your phone or computer to scan the Royal Mail barcode in the home test kit.
</p>

<p class="govuk-body">
    This appears on the right-hand side of your label. Do not scan the QR code, which is on the left.
</p>

<p class="govuk-body">
    The Royal Mail barcode is also different from your home test kit barcode.
</p>

<p>
  You can also manually enter the 13 character reference below the barcode.
</p>

{# https://design-system.service.gov.uk/components/details/ #}
{{ govukDetails({
    summaryText: "What does the barcode look like?",
    html: barcodeImg
}) }}

{# https://design-system.service.gov.uk/components/button/ #}
{{ govukButton({
    text: "Scan barcode",
    classes: "govuk-button--secondary",
    href: "#"
}) }}

<form class="form" action="/registering-for-answer" method="post">

    {# https://design-system.service.gov.uk/components/text-input/ #}
    {{ govukInput({
        id: "RMbarcodeRef",
        name: "RMbarcodeRef",
        label: {
            text: "Royal Mail barcode reference"
        }
    }) }}
    {{ govukInput({
        id: "confirmRMBarcodeRef",
        name: "confirmRMBarcodeRef",
        label: {
            text: "Confirm Royal Mail barcode reference "
        }
    }) }}

    {# https://design-system.service.gov.uk/components/button/ #}
    {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-4",
        href: "/register-kit/test-date-time"
    }) }}

</form>













<!--{% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/antigen/{{version}}/home-testing/enter-barcode-number" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="enter-barcode-number-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-l">
                  {{ pageTitle }}
              </h1>
            </legend>
            <span id="enter-barcode-number-hint" class="govuk-body">
                Use your phone or computer's camera to scan the unique Royal Mail barcode in your home test kit.<br><br>
                This appears on the right-hand side of your label. Do not scan the QR code, which is on the left.<br><br>
                The Royal Mail barcode is also different from your home test kit barcode.<br><br>
                You can also manually enter the 13 character reference below the barcode.
            </span>

            <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What does the barcode look like?
                </span>
              </summary>
              <div class="govuk-details__text">
                <img src="/public/images/mail-barcode-number.png" alt="barcode number"/>
              </div>
            </details>

            <a href="/antigen/{{version}}/home-testing/scan-mail-barcode" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Scan my barcode
            </a>

            <div class="govuk-form-group">
              <label class="govuk-label" for="mail-barcode-reference-1">
                Royal Mail barcode reference<br>
                <span class="govuk-hint">For example, AA 1234 5678 9AA</span>
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="mail-barcode-reference-1" name="mail-barcode-reference-1" type="text" value={{ data['mail-barcode-reference-1'] }}>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="mail-barcode-reference-2">
                Confirm Royal Mail barcode reference
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="mail-barcode-reference-2" name="mail-barcode-reference-2" type="text" value={{ data['mail-barcode-reference-2'] }}>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div-->

{% endblock %}
