{% set pageTitle = "You can no longer get a freee PCR test" %}
{% extends "layout_service_step.html" %}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p>If you have symptoms, follow the guidance. The following links open in a new tab:</p>

    <p>
        <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/symptoms/main-symptoms/" class="govuk-link" rel="noreferrer noopener" target="_blank">England: symptoms guidance</a><br>
        <a href="https://www.nhsinform.scot/illnesses-and-conditions/infections-and-poisoning/coronavirus-covid-19/coronavirus-covid-19/" class="govuk-link" rel="noreferrer noopener" target="_blank">Scotland: symptoms guidance</a><br>
        <a href="https://www.gov.wales/guidance-people-symptoms-respiratory-infection-including-covid-19" class="govuk-link" rel="noreferrer noopener" target="_blank">Wales: symptoms guidance</a><br>
        <a href="https://www.nidirect.gov.uk/articles/symptoms-respiratory-infections-including-covid-19 class="govuk-link" rel="noreferrer noopener" target="_blank">Northern Ireland: symptoms guidance</a><br>
    </p>

      <p>If your COVID-19 symptoms are seriously affectingyour everyday life, call NHS 111 or your GP. In an emergency call 999.</p>

{% endblock %}
