{% set pageTitle = "What's the test site ID or event ID? " %}
{% extends "layout_service_step.html" %}

{% block content %}

    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        The test site ID will be either 3 or 4 characters. 
    </p>

    <p class="govuk-body">
        If you're isolating after international travel, the test site is your government quarantine hotel. 
    </p>

    <p class="govuk-body">
        If you're taking your test as part of an event or conference, use the event ID. 
    </p>

    <p class="govuk-body">
        If you cannot find the ID, ask a member of staff.
    </p>

    <form class="form" action="/registering-for-answer" method="post">
        {{ govukInput({
            id: "test-site-id",
            name: "test-site-id",
            label: {
                text: "Test site or event ID",
                classes: "govuk-label--m"
            },
            hint: {
                text: "For example, THGR or LMHL "
            }
        }) }}

        {# https://design-system.service.gov.uk/components/button/ #}
        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4",
            href: "#"
        }) }}

    </form>


    

{% endblock %}