{% set pageTitle = "Are they taking their test at a test site?" %}
{% extends "layout_service_step.html" %}

{% block content %}
    {# TODO add next url in #}
    <form class="form" action="/test-location-someone" method="post">
        {# https://design-system.service.gov.uk/components/radios/ #}
        {{ govukRadios({
            idPrefix: "test-location-other",
            name: "test-location-other",
            fieldset: {
                legend: {
                    text: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: "Test sites include airports, government quarantine hotels or accommodation as part of an event or conference."
            },

            items: [
                {
                    value: "yes",
                    text: "Yes"
                },
                {
                    value: "no",
                    text: "No"
                }
            ]
        }) }}

        {# https://design-system.service.gov.uk/components/button/ #}
        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}

    </form>

{% endblock %}
