{% set pageTitle = "Confirm the test or event site" %}
{% extends "layout_service_step.html" %}

{% block content %}

    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-8",
        rows: [
            {
                key: {
                    text: "Test or event site ID"
                },
                value: {
                    text: "THGR"
                },
                actions: {
                    items: [
                        {
                            href: "Item URL",
                            text: "Change",
                            visuallyHiddenText: "Test or event site ID"
                        }
                    ]
                }
            }
        ]
    }) }}

    <ul class="govuk-list govuk-!-margin-bottom-8">
        <li class="govuk-heading-s">
            The Grand
        </li>
        <li>
            Greythorn Drive
        </li>
        <li>
            Nottingham
        </li>
        <li>
            NG2 7GG
        </li>
        <li>
            West Bridgford
        </li>
    </ul>

{# TODO add next url in #}
<form class="form" action="/register-answer-someone" method="post">
    {# https://design-system.service.gov.uk/components/radios/ #}
    {{ govukRadios({
        idPrefix: "test-site-confirmation-other",
        name: "test-site-confirmation-other",
        fieldset: {
            legend: {
                text: "Is this correct?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
            {
                value: "yes",
                text: "Yes"
            },
            {
                value: "no",
                text: "No"
            }
        ]
    }) }}

    {# https://design-system.service.gov.uk/components/button/ #}
    {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-4"
    }) }}

</form>

{% endblock %}
