{% extends "layout.html" %}

{% set pageTitle = "You can no longer register free PCR tests" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">
        {{ pageTitle }}
      </h1>

      <p class="govuk-body">This service has now ended.</p>

     <p class="govuk-body">Do not call 119, as you will not be able to register a test this way.</p>

    <p class="govuk-body">You might be able to get <a href="https://www.gov.uk/order-coronavirus-rapid-lateral-flow-tests" class="govuk-link" rel="noreferrer noopener">free rapid lateral flow tests</a> if you’re eligible. <a href="https://www.nhs.uk/nhs-services/covid-19-services/testing-for-covid-19/who-can-get-a-free-nhs-covid-19-rapid-lateral-flow-test/" rel="noreferrer noopener">Find out who can get a free rapid lateral flow test and how to get one.</a></p>  

    <p class="govuk-body">Find out more about <a href="https://www.nhs.uk/covid-19-advice-and-services/" rel="noreferrer noopener">COVID-19 symptoms, testing and vaccination</a>.</p>

      

    </div>
  </div>

{% endblock %}
